<main>
  <section class="layout">
    <div class="logo">
      <img src="/svg/logo-inicio.svg" />
    </div>
    <div class="container">
      <ul>
        <li><img src="/svg/icons-inicio/home-icon.svg" /><span>Home</span></li>
        <li>
          <img src="/svg/icons-inicio/profile-icon.svg" /><span>Profile</span>
        </li>
        <li>
          <img src="/svg/icons-inicio/search-icon.svg" /><span>Search</span>
        </li>
        <li>
          <img src="/svg/icons-inicio/email-icon.svg" /><span>Messages</span>
        </li>
        <li>
          <img src="/svg/icons-inicio/people-icon.svg" /><span
            >Communities</span
          >
        </li>
        <li>
          <img src="/svg/icons-inicio/settings-icon.svg" /><span>Settings</span>
        </li>
      </ul>
    </div>
    <div class="profile">
      <div class="card">
        <div class="card_load"></div>
        <div class="card_load_extreme_title"></div>
        <div class="card_load_extreme_descripion"></div>
      </div>
    </div>
  </section>
  <section class="main-section">
    <div class="container">
    <h2>{{ title }}</h2>
    <h2>{{ title2 }}</h2>
  </div>
  <ng-content></ng-content>
  </section>
  <section class="digitar"></section>
</main>
