
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 16px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2D79F3;   
    font-weight: 500;
    cursor: pointer;
  }

  .flex-row input
  {
    margin-right: 10px;
    width: 20px;
  }
